In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv(r"..\Data\US_Married_Couples_Work_Household_Insights\Mroz.csv")

In [3]:
print(df)

     Unnamed: 0 work  hoursw  child6  child618  agew  educw  hearnw  wagew  \
0             1  yes    1610       1         0    32     12  3.3540   2.65
1             2  yes    1656       0         2    30     12  1.3889   2.65
2             3  yes    1980       1         3    35     12  4.5455   4.04
3             4  yes     456       0         3    34     12  1.0965   3.25
4             5  yes    1568       1         2    31     14  4.5918   3.60
..          ...  ...     ...     ...       ...   ...    ...     ...    ...
748         749   no       0       0         2    40     13  0.0000   0.00
749         750   no       0       2         3    31     12  0.0000   0.00
750         751   no       0       0         0    43     12  0.0000   0.00
751         752   no       0       0         0    60     12  0.0000   0.00
752         753   no       0       0         3    39      9  0.0000   0.00

     hoursh  ageh  educh    wageh  income  educwm  educwf  unemprate city  \
0      2708    34     12   4.0288   16310      12       7        5.0   no
1      2310    30      9   8.4416   21800       7       7       11.0  yes
2      3072    40     12   3.5807   21040      12       7        5.0   no
3      1920    53     10   3.5417    7300       7       7        5.0   no
4      2000    32     12  10.0000   27300      12      14        9.5  yes
..      ...   ...    ...      ...     ...     ...     ...        ...  ...
748    3020    43     16   9.2715   28200      10      10        9.5  yes
749    2056    33     12   4.8638   10000      12      12        7.5   no
750    2383    43     12   1.0898    9952      10       3        7.5   no
751    1705    55      8  12.4400   24984      12      12       14.0  yes
752    3120    48     12   6.0897   28363       7       7       11.0  yes

     experience
0            14
1             5
2            15
3             6
4             7
..          ...
748           5
749          14
750           4
751          15
752          12

[753 rows x 19 columns]

In [4]:
#Transforming the column Names
df.columns = ['ID','work','Wife Hrs Worked', 'children below 6yrs', 'children between 6 and 18', 'Wife Age', 
              'Wife Education Yrs', 'Average Hourly Earning 1975', 'Wife Wage 1976', 'Husband Hours', 
              'Husband Age', 'Husband Education Yrs', 'Husband Wage', 'Family Income', 
              'Wife Mother Education Yrs', 'Wife Father Education Yrs', 'Unemployment Rate (%)', 
              'City', 'Labor Market Experience']

In [5]:
#Checking for Missing Values
print(df.isnull().sum())
#Checking for data type conversions
print(df.dtypes)
#Handling Categorical Variables
df = pd.get_dummies(df, columns=['City', 'work'])
#Making a new Feature = Total Family Income)
df['Total Family Income'] = df['Family Income'] + df['Wife Wage 1976'] + df['Husband Wage']
#Removing Unnecessary Columns
df.drop(['ID'], axis=1, inplace=True)  
#Reordering the columns for better readability
df = df[['Wife Hrs Worked', 'children below 6yrs', 'children between 6 and 18', 'Wife Age', 
         'Wife Education Yrs', 'Average Hourly Earning 1975', 'Wife Wage 1976', 'Husband Hours', 
         'Husband Age', 'Husband Education Yrs', 'Husband Wage', 'Family Income', 'Wife Mother Education Yrs', 
         'Wife Father Education Yrs', 'Unemployment Rate (%)', 'City_no', 'City_yes', 'work_no', 'work_yes', 
         'Labor Market Experience', 'Total Family Income']]

ID                             0
work                           0
Wife Hrs Worked                0
children below 6yrs            0
children between 6 and 18      0
Wife Age                       0
Wife Education Yrs             0
Average Hourly Earning 1975    0
Wife Wage 1976                 0
Husband Hours                  0
Husband Age                    0
Husband Education Yrs          0
Husband Wage                   0
Family Income                  0
Wife Mother Education Yrs      0
Wife Father Education Yrs      0
Unemployment Rate (%)          0
City                           0
Labor Market Experience        0
dtype: int64
ID                               int64
work                            object
Wife Hrs Worked                  int64
children below 6yrs              int64
children between 6 and 18        int64
Wife Age                         int64
Wife Education Yrs               int64
Average Hourly Earning 1975    float64
Wife Wage 1976                 float64
Husband Hours                    int64
Husband Age                      int64
Husband Education Yrs            int64
Husband Wage                   float64
Family Income                    int64
Wife Mother Education Yrs        int64
Wife Father Education Yrs        int64
Unemployment Rate (%)          float64
City                            object
Labor Market Experience          int64
dtype: object

In [6]:
#Function to format the money fields
def format_money(money):
    return '${:,.2f}'.format(money)

# Apply the formatting to relevant columns
money_columns = ['Average Hourly Earning 1975', 'Wife Wage 1976', 'Husband Wage', 'Family Income', 'Total Family Income']
for col in money_columns:
    df[col] = df[col].map(format_money)

# Print the first few rows to verify the formatting
print(df.head())

   Wife Hrs Worked  children below 6yrs  children between 6 and 18  Wife Age  \
0             1610                    1                          0        32
1             1656                    0                          2        30
2             1980                    1                          3        35
3              456                    0                          3        34
4             1568                    1                          2        31

   Wife Education Yrs Average Hourly Earning 1975 Wife Wage 1976  \
0                  12                       $3.35          $2.65
1                  12                       $1.39          $2.65
2                  12                       $4.55          $4.04
3                  12                       $1.10          $3.25
4                  14                       $4.59          $3.60

   Husband Hours  Husband Age  Husband Education Yrs  ... Family Income  \
0           2708           34                     12  ...    $16,310.00
1           2310           30                      9  ...    $21,800.00
2           3072           40                     12  ...    $21,040.00
3           1920           53                     10  ...     $7,300.00
4           2000           32                     12  ...    $27,300.00

  Wife Mother Education Yrs  Wife Father Education Yrs  Unemployment Rate (%)  \
0                        12                          7                    5.0
1                         7                          7                   11.0
2                        12                          7                    5.0
3                         7                          7                    5.0
4                        12                         14                    9.5

   City_no  City_yes  work_no  work_yes  Labor Market Experience  \
0        1         0        0         1                       14
1        0         1        0         1                        5
2        1         0        0         1                       15
3        1         0        0         1                        6
4        0         1        0         1                        7

   Total Family Income
0           $16,316.68
1           $21,811.09
2           $21,047.62
3            $7,306.79
4           $27,313.60

[5 rows x 21 columns]